body{
    font-family: "Byredo Sans";
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    background-color: transparent; border: none;
}
input{
    border: none;
}
@media screen and (max-width: 767px){
    #searchPanel{
        position: fixed; top: 60px; z-index: 3; width: 100%; background-color: #fff; line-height: 60px;
    }
    #searchPanel input{
        display: inline-block; font-size: 19px; margin-left: 1%; border-style: none;
    }
    #searchPanel button{
        float: right; padding-right: 1%; font-size: 20px; padding-top: 20px; background-color: transparent; border: none;
    }
    #searchPanel span{
        width: 100%; display: block; padding-left: 1%; line-height: 35px; background-color: #f5f5f5; font-size: 12px; color: #8b8b8b;
    }
    #bagPanel{
        position: fixed; top: 0px; right: 0; z-index: 4; width: 100%; height:100%;
        overflow-y: scroll; background-color: #fff;
    }
    #bagPanel button{
        font-size: 20px; background-color: transparent; border: none; line-height: 50px;
    }
    #bagPanel > span:first-of-type{
        width: 85%; display: inline-block; text-align: center; line-height: 50px;
    }
    #bagPanel > span:last-of-type{
        width: 100%; display: block; text-align: center;
    }
    #bagPanel a{
        color: #000;
    }
    #bagPanel div:nth-of-type(2) a{
        font-size: 16px;
    }
    #bagPanel div:first-of-type{
        background-color: #f5f5f5;
    }
    #bagPanel div:first-of-type .subinner{
        display: block; float: right; line-height: 51px; padding-right: 20px;
    }
    #bagPanel div:first-of-type .subinner span,
    #bagPanel div:nth-of-type(2) span,
    #bagPanel > span:last-of-type a{
        font-size: 12px; 
    }
    #bagPanel > a:first-of-type{
        width: 33%; display: block; float: left;
    }
    #bagPanel div:nth-of-type(2){
        float:left; width: 67%; padding: 30px 15px 10px; box-sizing: border-box;
    }
    #bagPanel div:nth-of-type(2) p:first-child{
        margin-bottom: 10px;
    }
    #bagPanel div:nth-of-type(2) p:last-of-type{
        margin-bottom: 50px;   
    }
    #bagPanel div:nth-of-type(2) >*:not(p){
        vertical-align: middle;
    }
    #bagPanel div:nth-of-type(2) button{
        font-size: 14px; margin-right: 6%;
    }
    #bagPanel div:nth-of-type(3){
        clear: left; font-size: 12px;
        padding-left: 7%; box-sizing: border-box; 
    }
    #bagPanel ul::after{
        content: ''; display: block; clear: both;
    }
    #bagPanel ul li{
        float: left; width: 33.3%;
    }
    #bagPanel > a img,
    #bagPanel ul li a,
    #bagPanel ul li a img{
        width: 100%; display: block;
    }
    #bagPanel > span:last-of-type,
    #bagPanel div:nth-of-type(3),
    #bagPanel div:nth-of-type(4) b,
    #bagPanel > div:last-of-type{
        background-color: #f5f5f5; line-height: 50px;
    }
    #bagPanel div:nth-of-type(4) b{
        display: block; width: 100%; padding-left: 10%; box-sizing: border-box; 
        font-size: 12px; margin-bottom: 30px;
    }
    #bagPanel div:nth-of-type(4) span{
        display: block; padding-left: 7%; font-size: 12px;
    }
    #bagPanel div:nth-of-type(4) span:not(:last-child){
        margin-bottom: 15px;
    }
    #bagPanel div:nth-of-type(4) span:last-of-type{
        margin-bottom: 30px;
    }
    #bagPanel > div:last-of-type span:first-of-type{
        padding-left: 7%; font-size: 19px;
    }
    #bagPanel > div:last-of-type span:last-of-type{
        float: right; padding-right: 7%; font-size: 12px;
    }
    #bagPanel > a:last-of-type{
        display: block; width: 100%; line-height: 55px; 
        font-size: 14px; background-color: #000; color: #fff; text-align: center; 
    }
    #filterPanel{
        position: fixed; top: 0; width: 100%; height: 100%; overflow-y: scroll; z-index: 5; background-color: #f5f5f5;
    }
    #filterPanel .btn_close{
        font-size: 16px; padding: 10px;
    }
    #filterPanel fieldset{
        padding-left: 4%; box-sizing: border-box; margin-bottom: 35px;
    }
    #filterPanel fieldset legend{
        padding-bottom: 20px; box-sizing: border-box; font-size: 17px;
    }
    #filterPanel fieldset li:not(.customRange){
        padding-bottom: 15px; font-size: 14px;
    }
    #filterPanel fieldset li label{
        vertical-align: -3px;
    }
    #filterPanel .customRange input{
        width: 95%; margin-bottom: 5px;
    }
    #filterPanel .customRange label{
        border: 1px solid #d9d9d9; padding: 1%; box-sizing: border-box; font-size: 12px;
    }
    #filterPanel .customRange label:first-of-type{
        float: left;
    }
    #filterPanel .customRange label:last-of-type{
        float: right; margin-right: 4%;
    }
    [id$='Panel'],
    #searchPanel span{
        display: none;
    }
    [id$='Panel'].active{
        display: block;
    }
    [class$='Container']{
        padding-top: 60px; 
    }
    .selectComponent{
        border: 1px solid #d9d9d9; box-sizing: border-box; padding: 0 10px; 
    }
    .selectComponent ul{
        position: relative;
        background: url('../images/expand_more.png') no-repeat right 20px;
    }
    .selectComponent ul.active{
        background-image: url('../images/expand_less.png');
    }
    .selectComponent ul.active li{
        display: block;
    }
    .selectComponent ul.active li:not(:last-child){
        border-bottom: 1px solid #d9d9d9;
    }
    .selectComponent ul li{
        display: none;  background-position: left 15px; background-size: 16px;
        background-repeat: no-repeat; padding-left: 25px;
        font-size: 17px; line-height: 50px;
        width: 100%; box-sizing: border-box;
    }
    .selectComponent ul li.active{
        display: block;
    }
    .flagSelect{
        margin-bottom: 10px;
    }
    .flagSelect ul li:nth-child(1){background-image: url('../images/France.png');}
    .flagSelect ul li:nth-child(2){background-image: url('../images/canada.png');}
    .flagSelect ul li:nth-child(3){background-image: url('../images/italy.png');}
    .flagSelect ul li:nth-child(4){background-image: url('../images/sweden.png');}
    .flagSelect ul li:nth-child(5){background-image: url('../images/uk.png');}
    .flagSelect ul li:nth-child(6){background-image: url('../images/us.png');}
    .languageSelect ul li{background-image: url('../images/global.png');}
    header{
        box-sizing: border-box; position: fixed; z-index: 3; width: 100%; height: 60px; background-color: #fff; 
        border-bottom: 1px solid #d9d9d9;
    }
    header .wrap{
        position: relative; padding: 0 10px;
    }
    header .wrap > *:not(nav){
        position: absolute; top: 0;
    }
    header .wrap > h1{
        min-width: 119px; width: 6.2%; padding: 20px 0;
    }
    header .wrap > h1 a{
        display: block;
    }
    header .wrap > h1 a img{
        width: 100%;
    }
    header .wrap > div:nth-of-type(2){
        right: 10px;
    }
    header .wrap nav{
        line-height: 60px; position: fixed; left: 0; top: 60px; display: none; background-color: white;
        width: 100%; 
    }
    header .wrap nav.active{
        display: block;
    }
    header .wrap nav > ul > li{
        font-size: 17px; color: #000; padding-left: 2%;
        background: url('../images/expand_more.png') no-repeat right 10px center;
    }
    #gnbPanel{
        position: fixed; left: 0; z-index: 1; width: 100%; height: 100%; overflow-y: scroll;
        background-color: white; 
    }
    #gnbPanel.active{
        display: block;
    }
    #gnbPanel > ul{
        background-color: #fff; display: none; 
    }
    #gnbPanel > ul:not(:last-of-type){
        padding: 0 2.5%;
    }
    #gnbPanel > ul:last-of-type{
        position: relative; z-index: 1; background-repeat: no-repeat; background-position: right top;
    }
    #gnbPanel > ul:last-of-type li{
        height: 440px;
    }
    #gnbPanel > ul:last-of-type li a{
        display: block; color: #fff; font-size: 19px; width: 100%; text-align: center; line-height: 60px; height: 120px;
    }
    #gnbPanel > ul.active{
        display: block;
    }
    #gnbPanel > ul:after{
        content: ''; display: block; clear: both;
    }
    #gnbPanel > ul .btn_close{
        font-size: 16px; padding: 10px 0;
    } 
    #gnbPanel > ul:nth-of-type(5) .btn_close{
        width: 100%; text-align: left; padding-left: 2.5%;
    }
    #gnbPanel > ul:nth-of-type(5) li{
        width: 50%; height: 120px; float: left; 
        background-repeat: no-repeat; background-size: cover; 
    }
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(1){background-image: url('../images/header_about.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(2){background-image: url('../images/header_treatments.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(3){background-image: url('../images/header_stories.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(4){background-image: url('../images/header_contact.png');}
    #gnbPanel > ul:not(:last-of-type) > li{
        background-color: #fff; font-size: 14px; padding: 15px 10px;
        border: 1px solid #d9d9d9; line-height: 20px; box-sizing: border-box; margin-bottom: 10px;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul{
       display: none; padding-top: 15px; 
    }
    #gnbPanel > ul:not(:last-of-type) > li:hover ul{
        display: block;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li:not(:last-child){
        margin-bottom: 10px;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li a{
        font-size: 12px; color: #000;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li:hover a{
        color: #828282;
    }
    #gnbPanel > div{
        background-color: #fff; width: 100%; padding: 20px 2.5%;
        position: absolute; left: 0; box-sizing: border-box;
    }
    #gnbPanel > div a{
        display: block; margin-bottom: 20px; color: #000; font-size: 17px;
    }
    #gnbPanel > div a::before{
        content: url('../images/help_img.png'); width: 18px; padding-right: 5px; 
    }
    header .wrap > div:nth-of-type(2){
        padding: 20px 0;
    }
    header .wrap > div:nth-of-type(2) *{
        width: 20px; line-height: 20px; vertical-align: middle;
    }
    header .wrap > div:nth-of-type(2) *:not(:first-child){
        margin-left: 15px;
    }
    header .wrap > div:nth-of-type(2) a{
        display: inline-block; color: black;
    }
    header .wrap > div:nth-of-type(2) button{
        background-color: transparent; border: none; padding: 0;
    }
    header .wrap > div:nth-of-type(2) .btn_mui{
        display: inline-block; width: 20px; text-indent: -9999px;
        background: url('../images/menu.png') center / contain no-repeat;
    }
    footer{
        background-color: #f5f5f5;
    }
    footer > div:first-child{
        padding-top: 40px; box-sizing: border-box; 
    }
    footer > div:first-child::after{
        content: ''; display: block; clear: both;
    }
    footer > div:first-child > div{
        padding: 0 2.5%; box-sizing: border-box;
    }
    footer > div:first-child > div:first-child,
    footer > div:first-child > div:nth-child(2),
    footer > div:first-child > div:nth-child(3){
        margin-bottom: 30px;
    }
    footer > div:first-child > div:nth-child(3){
        clear: left;
    }
    footer > div:first-child > div:nth-child(1) .selectComponent{
        background-color: #fff; 
    }
    footer > div:first-child > div:nth-child(1) .languageSelect{
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(1) > a{
        width: 16px; display: block;  margin-bottom: 25px; color: #000;  position: relative;
    }
    footer > div:first-child > div:nth-child(1) > a span{
        font-size: 12px; display: inline-block; position: absolute; left: 30px; top: 5px;
    }
    footer > div:first-child > div:nth-child(1) strong{
        display: inline-block; margin-bottom: 25px; font-size: 15px; color: #000; 
    }
    footer > div:first-child > div:nth-child(1) > ul li:first-child{
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(1) > ul li a.material-symbols-outlined{
        width: 16px;
    }
    footer > div:first-child > div:nth-child(1) > ul li a{
        display: block; color: #8b8b8b; font-size: 12px; 
    }
    footer > div:first-child > div:nth-child(2) strong{
        display: block; font-size: 15px; border: 1px solid #d9d9d9; background-color: #fff; background-repeat: no-repeat ;
        line-height: 50px; box-sizing: border-box; padding-left: 10px; background-image: url(../images/expand_more.png); background-position: right 10px center;
    }
    footer > div:first-child > div:nth-child(2) ul{
        display: none; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; background-color: #fff;
    }
    footer > div:first-child > div:nth-child(2).active ul{
        display: block;
    }
    footer > div:first-child > div:nth-child(2) ul li{
        border-bottom: 1px solid #d9d9d9; line-height: 50px;
    }
    footer > div:first-child > div:nth-child(2) > ul li a{
        font-size: 12px; color: #8b8b8b; padding-left: 10px; width: 100%; display: block;
    }
    footer > div:first-child > div:nth-child(3) h3{
        margin-bottom: 30px; font-size: 18px;
    }
    footer > div:first-child > div:nth-child(3) > strong{
        font-size: 15px; display: inline-block; margin-bottom: 15px;
    }
    footer > div:first-child > div:nth-child(3) p{
        font-size: 12px; color: #ccc; line-height: 15px;
    }
    footer > div:first-child > div:nth-child(3) > p{
        margin-bottom: 25px; 
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="email"]{
        width: 70%; margin-bottom: 25px; border: 1px solid #d9d9d9; line-height: 60px; padding-left: 5%;
        box-sizing: border-box;
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="email"]::placeholder{
        color: #ccc; font-size: 15px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="submit"]{
        width: 28%; background-color: #000; color: #fff; font-size: 17px; line-height: 60px;
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset p:first-of-type{
        margin-bottom: 10px;
    }
    footer > div:first-child > div:nth-child(4) h2{
        width: 45%; min-width: 119px; margin-bottom: 30px;
    }
    footer > div:first-child > div:nth-child(4) h2 img{width: 100%;}
    footer > div:first-child > div:nth-child(4) > p{
        font-size: 13px; color: #8b8b8b; line-height: 20px; padding-bottom: 30px;
    }
    footer > div:last-child{
        background-color: #fff; line-height: 40px; position: relative; 
    }
    footer > div:last-child::after{
        content: ''; display: block; clear: both;
    }
    footer > div:last-child > p{
        max-width: 70%; float: left; position: absolute; left: 10px; top: 6px;
    }
    footer > div:last-child > a{
        display: inline-block; position: absolute; top: 11px;
    }
    footer > div:last-child > a:first-of-type{right: 10px;}
    footer > div:last-child > a:last-of-type{right: 45px;}
    footer > div:last-child > a img{width: 100%;}
}
/* mobile */
@media screen and (min-width:768px) and (max-width: 1279px){
    .btn_mui{
        display: none;
    }
    #searchPanel{
        position: fixed; top: 60px; z-index: 3; width: 100%; background-color: #fff; line-height: 60px;
    }
    #searchPanel input{
        display: inline-block; width: 90%; font-size: 19px; margin-left: 1%; border-style: none;
    }
    #searchPanel button{
        float: right; padding-right: 1%; font-size: 20px; padding-top: 20px; background-color: transparent; border: none;
    }
    #searchPanel span{
        width: 100%; display: block; padding-left: 1%; line-height: 35px; background-color: #f5f5f5; font-size: 12px; color: #8b8b8b;
    }
    #bagPanel{
        position: fixed; top: 60px; right: 0; z-index: 4; width: 59%; min-height: 785px; background-color: #fff;
    }
    #bagPanel button{
        font-size: 20px; background-color: transparent; border: none; line-height: 50px;
    }
    #bagPanel > span:first-of-type{
        width: 90%; display: inline-block; text-align: center; line-height: 50px;
    }
    #bagPanel > span:last-of-type{
        width: 100%; display: block; padding-left: 15%; 
    }
    #bagPanel a{
        color: #000;
    }
    #bagPanel div button{
        background-color: transparent; border: none;
    }
    #bagPanel div:first-of-type{
        background-color: #f5f5f5;
    }
    #bagPanel div:first-of-type button{
        line-height: 49px;
    }
    #bagPanel div:first-of-type .subinner{
        display: block; float: right; line-height: 51px; padding-right: 20px;
    }
    #bagPanel div:first-of-type .subinner span,
    #bagPanel div:nth-of-type(2) span,
    #bagPanel > span:last-of-type a{
        font-size: 12px; 
    }
    #bagPanel > a:first-of-type{
        width: 33%; display: block; float: left;
    }
    #bagPanel div:nth-of-type(2){
        float:left; width: 67%; padding: 30px 15px 10px; box-sizing: border-box;
    }
    #bagPanel div:nth-of-type(2) p:first-child{
        margin-bottom: 10px;
    }
    #bagPanel div:nth-of-type(2) p:last-of-type{
        margin-bottom: 50px;   
    }
    #bagPanel div:nth-of-type(2) >*:not(p){
        vertical-align: middle;
    }
    #bagPanel div:nth-of-type(2) button{
        font-size: 14px; margin-right: 6%;
    }
    #bagPanel div:nth-of-type(3){
        clear: left; font-size: 12px;
        padding-left: 7%; box-sizing: border-box; 
    }
    #bagPanel ul::after{
        content: ''; display: block; clear: both;
    }
    #bagPanel ul li{
        float: left; width: 33.3%;
    }
    #bagPanel > a img,
    #bagPanel ul li a,
    #bagPanel ul li a img{
        width: 100%; display: block;
    }
    #bagPanel > span:last-of-type,
    #bagPanel div:nth-of-type(3),
    #bagPanel div:nth-of-type(4) b,
    #bagPanel > div:last-of-type{
        background-color: #f5f5f5; line-height: 50px;
    }
    #bagPanel div:nth-of-type(4) b{
        display: block; width: 100%; padding-left: 10%; box-sizing: border-box; 
        font-size: 12px; margin-bottom: 30px;
    }
    #bagPanel div:nth-of-type(4) span{
        display: block; padding-left: 7%; font-size: 12px;
    }
    #bagPanel div:nth-of-type(4) span:not(:last-child){
        margin-bottom: 15px;
    }
    #bagPanel div:nth-of-type(4) span:last-of-type{
        margin-bottom: 30px;
    }
    #bagPanel > div:last-of-type span:first-of-type{
        padding-left: 7%; font-size: 19px;
    }
    #bagPanel > div:last-of-type span:last-of-type{
        float: right; padding-right: 7%; font-size: 12px;
    }
    #bagPanel > a:last-of-type{
        display: block; width: 100%; line-height: 55px; 
        font-size: 14px; background-color: #000; color: #fff; text-align: center; 
    }
    #filterPanel{
        position: fixed; top: 140px; right: 0; z-index: 1; width: 59%; height: calc(100% - 140px); 
        overflow-y: scroll; background-color: #f5f5f5;
    }
    #filterPanel.btn_close{
        font-size: 16px; padding: 10px;
    }
    #filterPanel fieldset{
        padding-left: 4%; box-sizing: border-box; margin-bottom: 35px;
    }
    #filterPanel fieldset legend{
        padding-bottom: 20px; box-sizing: border-box;
    }
    #filterPanel fieldset li:not(.customRange){
        padding-bottom: 15px; font-size: 14px;
    }
    #filterPanel fieldset li label{
        vertical-align: -3px;
    }
    #filterPanel fieldset:first-of-type legend{
        padding-top: 35px; font-size: 17px;
    }
    #filterPanel .customRange input{
        width: 95%; margin-bottom: 5px;
    }
    #filterPanel .customRange label{
        border: 1px solid #d9d9d9; padding: 1%; box-sizing: border-box; font-size: 12px;
    }
    #filterPanel .customRange label:first-of-type{
        float: left;
    }
    #filterPanel .customRange label:last-of-type{
        float: right; margin-right: 4%;
    }
    [id$='Panel'],
    #searchPanel span{
        display: none;
    }
    [id$='Panel'].active{
        display: block;
    }
    [class$='Container']{
        padding-top: 60px; 
    }
    .selectComponent{
        border: 1px solid #d9d9d9; box-sizing: border-box; padding: 0 10px;
    }
    .selectComponent ul{
        position: relative;
        background: url('../images/expand_more.png') no-repeat right 20px;
    }
    .selectComponent ul.active{
        background-image: url('../images/expand_less.png');
    }
    .selectComponent ul.active li{
        display: block;
    }
    .selectComponent ul.active li:not(:last-child){
        border-bottom: 1px solid #d9d9d9;
    }
    .selectComponent ul li{
        display: none;  background-position: left 15px; background-size: 16px;
        background-repeat: no-repeat; padding-left: 25px;
        font-size: 17px; line-height: 50px;
        width: 100%; box-sizing: border-box;
    }
    .selectComponent ul li.active{
        display: block;
    }
    .flagSelect{
        margin-bottom: 10px;
    }
    .flagSelect ul li:nth-child(1){background-image: url('../images/France.png');}
    .flagSelect ul li:nth-child(2){background-image: url('../images/canada.png');}
    .flagSelect ul li:nth-child(3){background-image: url('../images/italy.png');}
    .flagSelect ul li:nth-child(4){background-image: url('../images/sweden.png');}
    .flagSelect ul li:nth-child(5){background-image: url('../images/uk.png');}
    .flagSelect ul li:nth-child(6){background-image: url('../images/us.png');}
    .languageSelect ul li{background-image: url('../images/global.png');}
    header{
        box-sizing: border-box; position: fixed; z-index: 3; width: 100%; background-color: #fff; border-bottom: 1px solid #d9d9d9;
    }
    header .wrap{
        position: relative; padding: 0 1%;
    }
    header .wrap > *:not(nav){
        position: absolute; top: 0;
    }
    header .wrap > h1{
        left: 20px; min-width: 119px; width: 6.2%; padding: 20px 0; 
    }
    header .wrap > h1 a{
        display: block;
    }
    header .wrap > h1 a img{
        width: 100%;
    }
    header .wrap > div:nth-of-type(2){
        right: 20px;
    }
    header .wrap nav{
        line-height: 60px; padding: 0 10%; box-sizing: border-box;
    }
    header .wrap nav > ul{
        text-align: center;
    }
    header .wrap nav > ul > li{
        display: inline-block; font-size: 19px; font-weight: 400; 
        color: #000; cursor: pointer;
    }
    header .wrap nav > ul > li:not(:first-child){
        margin-left: 4.4%;
    }
    header .wrap nav > ul > li.active{
        color: #828282; 
    }
    #gnbPanel{
        display: none; position: absolute; top: 61px; left: 0; width: 100%;
    }
    #gnbPanel.active{
        display: block;
    }
    #gnbPanel > ul{
        background-color: #fff; background-repeat: no-repeat; background-position: right top; display: none;
    }
    #gnbPanel > ul{
        width: 68%;
    }
    #gnbPanel > ul .btn_close{
        display: none;
    }
    #gnbPanel > ul > li{
        height: 440px; 
    }
    #gnbPanel > ul:last-of-type li a{
        display: block; color: #fff; font-size: 19px; width: 100%; text-align: center; line-height: 60px;
    }
    #gnbPanel > ul.active{
        display: block;
    }
    #gnbPanel > ul:after{
        content: ''; display: block; clear: both;
    }
    #gnbPanel > ul:nth-of-type(5) li{
        width: 50%; height: 220px; float: left; 
        background-repeat: no-repeat; background-size: cover; 
    }
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(1){background-image: url('../images/header_about.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(2){background-image: url('../images/header_treatments.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(3){background-image: url('../images/header_stories.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(4){background-image: url('../images/header_contact.png');}
    #gnbPanel > ul:not(:last-of-type) > li{
        float: left; background-color: #fff; width: 47%; padding: 40px 0 40px 2%; font-size: 19px; 
        border-right: 1px solid #d9d9d9; box-sizing: border-box;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul{
       padding-top: 40px; height: 300px; 
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li:not(:last-child){
        margin-bottom: 20px;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li a{
        font-size: 15px; color: #000;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li:hover a{
        color: #828282;
    }
    #gnbPanel > div{
        background-color: #fff; width: 36%; padding: 0 1% 20px 2%;
        position: absolute; top: 0; right: 0; box-sizing: border-box; min-height: 440px;
    }
    #gnbPanel > div a{
        display: block; padding-top: 40px; margin-bottom: 20px; color: #000; font-size: 17px;
    }
    #gnbPanel > div a::before{
        content: url('../images/help_img.png'); width: 18px; padding-right: 5px; 
    }
    header .wrap > div:nth-of-type(2){
        padding: 20px 0;
    }
    header .wrap > div:nth-of-type(2) *{
        width: 20px; line-height: 20px;
    }
    header .wrap > div:nth-of-type(2) a{
        display: inline-block; color: black; margin: 0 15px;
    }
    header .wrap > div:nth-of-type(2) button{
        background-color: transparent; border: none; padding: 0;
    }
    footer{
        background-color: #f5f5f5;
    }
    footer > div:first-child{
        padding-top: 40px; box-sizing: border-box; 
    }
    footer > div:first-child::after{
        content: ''; display: block; clear: both;
    }
    footer > div:first-child > div{
        width: 50%; float: left; padding-left: 2.5%; box-sizing: border-box;
    }
    footer > div:first-child > div:nth-child(2){
        margin-bottom: 100px;
    }
    footer > div:first-child > div:nth-child(3){
        clear: left;
    }
    footer > div:first-child > div:nth-child(1) .selectComponent{
        width: 54%; background-color: #fff; 
    }
    footer > div:first-child > div:nth-child(1) .languageSelect{
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(1) > a{
        width: 16px; display: block;  margin-bottom: 25px; color: #000;  position: relative;
    }
    footer > div:first-child > div:nth-child(1) > a span{
        font-size: 12px; display: inline-block; position: absolute; left: 30px; top: 5px;
    }
    footer > div:first-child > div:nth-child(1) strong{
        display: inline-block; margin-bottom: 25px; font-size: 15px; color: #000; 
    }
    footer > div:first-child > div:nth-child(1) > ul li:first-child{
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(1) > ul li a.material-symbols-outlined{
        width: 16px;
    }
    footer > div:first-child > div:nth-child(1) > ul li a{
        display: block; color: #8b8b8b; font-size: 12px; 
    }
    footer > div:first-child > div:nth-child(2) strong{
        display: inline-block; margin-bottom: 20px; font-size: 15px; 
    }
    footer > div:first-child > div:nth-child(2) > ul li:not(:last-child){
        margin-bottom: 20px;
    }
    footer > div:first-child > div:nth-child(2) > ul li a{
        font-size: 12px; color: #8b8b8b;
    }
    footer > div:first-child > div:nth-child(3) h3{
        margin-bottom: 60px; font-size: 18px;
    }
    footer > div:first-child > div:nth-child(3) > strong{
        font-size: 15px; display: inline-block; margin-bottom: 15px;
    }
    footer > div:first-child > div:nth-child(3) p{
        font-size: 12px; color: #ccc; line-height: 15px;
    }
    footer > div:first-child > div:nth-child(3) > p{
        margin-bottom: 25px; width: 80%; 
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="email"]{
        width: 69%; margin: 0 10px 25px 0; border: 1px solid #d9d9d9; line-height: 60px; padding-left: 5%;
        box-sizing: border-box;
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="email"]::placeholder{
        color: #ccc; font-size: 15px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="submit"]{
        width: 18%; background-color: #000; color: #fff; font-size: 17px; line-height: 60px;
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset p:first-of-type{
        margin-bottom: 10px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset p:last-child{
        width: 64%; padding-bottom: 75px;
    }
    footer > div:first-child > div:nth-child(4){position: relative;}
    footer > div:first-child > div:nth-child(4) h2{
        position: absolute; right: 40px; top: 70px; width: 45%;
    }
    footer > div:first-child > div:nth-child(4) h2 img{width: 100%;}
    footer > div:first-child > div:nth-child(4) > p{
        width: 76%; position: absolute; right: 40px; top: 180px; 
        font-size: 17px; color: #8b8b8b; text-align: right; line-height: 25px;
    }
    footer > div:last-child{
        position: relative; background-color: #fff;  line-height: 40px;
    }
    footer > div:last-child > p{
        position: absolute; left: 20px; top: 6px; 
    }
    footer > div:last-child > a{
        display: block; position: absolute; top: 11px;
    }
    footer > div:last-child > a:first-of-type{right: 55px;}
    footer > div:last-child > a:last-of-type{right: 20px;}
    footer > div:last-child > a img{width: 100%;}
}
/* tablet */
@media screen and (min-width: 1280px){ 
    .btn_mui{
        display: none;
    }
    #searchPanel{
        position: fixed; top: 60px; z-index: 3; width: 100%; background-color: #fff; line-height: 60px;
    }
    #searchPanel input{
        display: inline-block; width: 90%; font-size: 19px; margin-left: 1%; border-style: none;
    }
    #searchPanel button{
        float: right; padding-right: 1%; font-size: 20px; padding-top: 20px; background-color: transparent; border: none;
    }
    #searchPanel span{
        width: 100%; display: block; padding-left: 1%; line-height: 35px; background-color: #f5f5f5; font-size: 12px; color: #8b8b8b;
    }
    #bagPanel{
        position: fixed; right: 0; top: 60px; z-index: 4; width: 25%; height: calc(100% - 60px);
        overflow-y: scroll; background-color: #fff;
    }
    #bagPanel button{
        font-size: 20px; background-color: transparent; border: none; line-height: 50px;
    }
    #bagPanel > span:first-of-type{
        width: 90%; display: inline-block; text-align: center; line-height: 50px;
    }
    #bagPanel > span:last-of-type{
        display: block; padding-left: 15%; 
    }
    #bagPanel a{
        color: #000;
    }
    #bagPanel div button{
        background-color: transparent; border: none;
    }
    #bagPanel div:first-of-type{
        background-color: #f5f5f5;
    }
    #bagPanel div:first-of-type button{
        line-height: 49px;
    }
    #bagPanel div:first-of-type .subinner{
        display: block; float: right; line-height: 51px; padding-right: 20px;
    }
    #bagPanel div:first-of-type .subinner span,
    #bagPanel div:nth-of-type(2) span,
    #bagPanel > span:last-of-type a{
        font-size: 12px; 
    }
    #bagPanel > a:first-of-type{
        width: 33%; display: block; float: left;
    }
    #bagPanel div:nth-of-type(2){
        float:left; width: 67%; padding: 30px 15px 10px; box-sizing: border-box;
    }
    #bagPanel div:nth-of-type(2) p:first-child{
        margin-bottom: 10px;
    }
    #bagPanel div:nth-of-type(2) p:last-of-type{
        margin-bottom: 50px;   
    }
    #bagPanel div:nth-of-type(2) >*:not(p){
        vertical-align: middle; font-size: 12px;
    } 
    #bagPanel div:nth-of-type(2) button{
        font-size: 14px; margin-right: 6%;
    }
    #bagPanel div:nth-of-type(3){
        clear: left; font-size: 12px;
        padding-left: 7%; box-sizing: border-box; 
    }
    #bagPanel ul::after{
        content: ''; display: block; clear: both;
    }
    #bagPanel ul li{
        float: left; width: 33.3%;
    }
    #bagPanel > a img,
    #bagPanel ul li a,
    #bagPanel ul li a img{
        width: 100%; display: block;
    }
    #bagPanel > span:last-of-type,
    #bagPanel div:nth-of-type(3),
    #bagPanel div:nth-of-type(4) b,
    #bagPanel > div:last-of-type{
        background-color: #f5f5f5; line-height: 50px;
    }
    #bagPanel div:nth-of-type(4) b{
        display: block; width: 100%; padding-left: 10%; box-sizing: border-box; 
        font-size: 12px; margin-bottom: 30px;
    }
    #bagPanel div:nth-of-type(4) span{
        display: block; padding-left: 7%; font-size: 12px;
    }
    #bagPanel div:nth-of-type(4) span:not(:last-child){
        margin-bottom: 15px;
    }
    #bagPanel div:nth-of-type(4) span:last-of-type{
        margin-bottom: 30px;
    }
    #bagPanel > div:last-of-type span:first-of-type{
        padding-left: 7%; font-size: 19px;
    }
    #bagPanel > div:last-of-type span:last-of-type{
        float: right; padding-right: 7%; font-size: 12px;
    }
    #bagPanel > a:last-of-type{
        display: block; width: 100%; line-height: 55px; 
        font-size: 14px; background-color: #000; color: #fff; text-align: center; 
    }
    #filterPanel{
        position: fixed; top: 140px; right: 0; z-index: 1; width: 25%; height: calc(100% - 140px);
        overflow-y: scroll; background-color: #f5f5f5;
    }
    #filterPanel .btn_close{
        padding: 10px; font-size: 16px;
    }
    #filterPanel fieldset{
        padding-left: 4%; box-sizing: border-box; margin-bottom: 35px;
    }
    #filterPanel fieldset legend{
        padding-bottom: 20px; box-sizing: border-box;
    }
    #filterPanel fieldset li:not(.customRange){
        padding-bottom: 15px; font-size: 14px;
    }
    #filterPanel fieldset li label{
        vertical-align: -3px;
    }
    #filterPanel fieldset:first-of-type legend{
        padding-top: 35px; font-size: 17px;
    }
    #filterPanel .customRange input{
        width: 95%; margin-bottom: 5px;
    }
    #filterPanel .customRange label{
        border: 1px solid #d9d9d9; padding: 1%; box-sizing: border-box; font-size: 12px;
    }
    #filterPanel .customRange label:first-of-type{
        float: left;
    }
    #filterPanel .customRange label:last-of-type{
        float: right; margin-right: 4%;
    }
    [id$='Panel'],
    #searchPanel span{
        display: none;
    }
    [id$='Panel'].active{
        display: block;
    }
    [class$='Container']{
        padding-top: 60px; 
    }
    .selectComponent{
        border: 1px solid #d9d9d9; box-sizing: border-box; 
    }
    .selectComponent ul{
        background: url('../images/expand_more.png') right 10px top 20px / 11px 7px no-repeat;
    }
    .selectComponent ul.active{
        background-image: url('../images/expand_less.png');
    }
    .selectComponent ul.active li{
        display: block;
    }
    .selectComponent ul.active li:not(:last-child){
        border-bottom: 1px solid #d9d9d9;
    }
    .selectComponent ul li{
        display: none; background-position: left 10px center;
        background-repeat: no-repeat; padding-left: 30px;
        font-size: 17px; line-height: 50px; box-sizing: border-box;
    }
    .selectComponent ul li.active{
        display: block;
    }
    .flagSelect{
        margin-bottom: 10px;
    }
    .flagSelect ul li:nth-child(1){background-image: url('../images/France.png');}
    .flagSelect ul li:nth-child(2){background-image: url('../images/canada.png');}
    .flagSelect ul li:nth-child(3){background-image: url('../images/italy.png');}
    .flagSelect ul li:nth-child(4){background-image: url('../images/sweden.png');}
    .flagSelect ul li:nth-child(5){background-image: url('../images/uk.png');}
    .flagSelect ul li:nth-child(6){background-image: url('../images/us.png');}
    .languageSelect ul li{background-image: url('../images/global.png');}
    header{
        box-sizing: border-box; position: fixed; z-index: 3; width: 100%; background-color: #fff; border-bottom: 1px solid #d9d9d9;
    }
    header .wrap{
        position: relative; padding: 0 1%;
    }
    header .wrap > *:not(nav){
        position: absolute; top: 0;
    }
    header .wrap > h1{
        left: 20px; min-width: 119px; width: 6.2%; padding: 20px 0; 
    }
    header .wrap > h1 a{
        display: block;
    }
    header .wrap > h1 a img{
        width: 100%;
    }
    header .wrap > div:nth-of-type(2){
        right: 20px;
    }
    header .wrap nav{
        line-height: 60px; padding: 0 10%; box-sizing: border-box;
    }
    header .wrap nav ul{
        text-align: center;
    }
    header .wrap nav > ul > li{
        display: inline-block; font-size: 19px; 
        color: #000; cursor: pointer;
    }
    header .wrap nav > ul > li:not(:first-child){
        margin-left: 4.4%;
    }
    header .wrap nav > ul.active > li{
        color: #828282; 
    }
    header .wrap nav > ul > li:hover{
        color: #828282; 
    }
    #gnbPanel{
        display: none; position: absolute; top: 62px; left: 0; width: 100%;
    }
    #gnbPanel.active{
        display: block;
    }
    #gnbPanel > ul{
        background-color: #fff; background-repeat: no-repeat; background-position: right top; display: none;
    }
    #gnbPanel > ul{
        width: 83%;
    }
    #gnbPanel > ul:nth-of-type(1){background-image: url('../images/body_bg.png');}
    #gnbPanel > ul:nth-of-type(2){background-image: url('../images/hair_bg.png');}
    #gnbPanel > ul:nth-of-type(3){background-image: url('../images/face_bg.png');}
    #gnbPanel > ul:nth-of-type(4){background-image: url('../images/home_bg.png');}
    #gnbPanel > ul .btn_close{
        display: none;
    }
    #gnbPanel > ul:last-of-type li{
        height: 440px;
    }
    #gnbPanel > ul:last-of-type li a{
        display: block; color: #fff; font-size: 19px; width: 100%; text-align: center; 
        line-height: 60px; height: 440px;
    }
    #gnbPanel > ul.active{
        display: block;
    }
    #gnbPanel > ul:after{
        content: ''; display: block; clear: both;
    }
    #gnbPanel > ul:nth-of-type(5) li{
        width: 25%; float: left; 
        background-repeat: no-repeat; background-size: cover; 
    }
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(1){background-image: url('../images/header_about.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(2){background-image: url('../images/header_treatments.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(3){background-image: url('../images/header_stories.png');}
    #gnbPanel > ul:nth-of-type(5) li:nth-of-type(4){background-image: url('../images/header_contact.png');}
    #gnbPanel > ul:not(:last-of-type) > li{
        float: left; background-color: #fff; width: 18.6%; padding: 40px 0 40px 1%; font-size: 19px; 
        border-right: 1px solid #d9d9d9; box-sizing: border-box;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul{
       padding-top: 40px; height: 341px; box-sizing: border-box;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li:not(:last-child){
        margin-bottom: 20px;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li a{
        font-size: 15px; color: #000;
    }
    #gnbPanel > ul:not(:last-of-type) > li ul li:hover a{
        color: #828282;
    }
    #gnbPanel > div{
        background-color: #fff; width: 17.5%; padding: 0 1% 20px 1%; box-sizing: border-box;
        position: absolute; top: 0; right: 0; min-height: 440px;
    }
    #gnbPanel > div a{
        display: block; padding-top: 40px; margin-bottom: 20px; color: #000; font-size: 17px;
    }
    #gnbPanel > div a::before{
        content: url('../images/help_img.png'); width: 18px; padding-right: 5px; 
    }
    header .wrap > div:nth-of-type(2){
        padding: 20px 0;
    }
    header .wrap > div:nth-of-type(2) *{
        width: 20px; line-height: 20px;
    }
    header .wrap > div:nth-of-type(2) a{
        display: inline-block; color: black; margin: 0 15px;
    }
    header .wrap > div:nth-of-type(2) button{
        background-color: transparent; border: none; padding: 0;
    }
    footer{
        background-color: #f5f5f5;
    }
    footer > div:first-child{
        padding-top: 40px; box-sizing: border-box; 
    }
    footer > div:first-child::after{
        content: ''; display: block; clear: both;
    }
    footer > div:first-child > div{
        width: 25%; float: left; padding-left: 1%; box-sizing: border-box;
    }
    footer > div:first-child > div:nth-child(1)  .selectComponent{
        width: 54%; background-color: #fff; 
    }
    footer > div:first-child > div:nth-child(1) .languageSelect{
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(1) > a{
        width: 16px; display: block;  margin-bottom: 25px; color: #000;  position: relative;
    }
    footer > div:first-child > div:nth-child(1) > a span{
        font-size: 12px; display: inline-block; position: absolute; left: 30px; top: 5px;
    }
    footer > div:first-child > div:nth-child(1) strong{
        display: inline-block; margin-bottom: 25px; font-size: 15px; color: #000; 
    }
    footer > div:first-child > div:nth-child(1) > ul li:first-child{
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(1) > ul li a.material-symbols-outlined{
        width: 16px;
    }
    footer > div:first-child > div:nth-child(1) > ul li a{
        display: block; color: #8b8b8b; font-size: 12px; 
    }
    footer > div:first-child > div:nth-child(2) strong{
        display: inline-block; margin-bottom: 20px; font-size: 15px; 
    }
    footer > div:first-child > div:nth-child(2) > ul li:not(:last-child){
        margin-bottom: 20px;
    }
    footer > div:first-child > div:nth-child(2) > ul li a{
        font-size: 12px; color: #8b8b8b;
    }
    footer > div:first-child > div:nth-child(3) h3{
        margin-bottom: 60px; font-size: 18px;
    }
    footer > div:first-child > div:nth-child(3) > strong{
        font-size: 15px; display: inline-block; margin-bottom: 15px;
    }
    footer > div:first-child > div:nth-child(3) p{
        font-size: 12px; color: #ccc; line-height: 15px;
    }
    footer > div:first-child > div:nth-child(3) > p{
        margin-bottom: 25px; width: 80%; 
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="email"]{
        width: 69%; margin: 0 10px 25px 0; border: 1px solid #d9d9d9; line-height: 60px; padding-left: 5%;
        box-sizing: border-box;
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="email"]::placeholder{
        color: #ccc; font-size: 15px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset input[type="submit"]{
        width: 18%; background-color: #000; color: #fff; font-size: 17px; line-height: 60px;
        margin-bottom: 25px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset p:first-of-type{
        margin-bottom: 10px;
    }
    footer > div:first-child > div:nth-child(3) form fieldset p:last-child{
        width: 64%; padding-bottom: 75px;
    }
    footer > div:first-child > div:nth-child(4){position: relative;}
    footer > div:first-child > div:nth-child(4) h2{
        position: absolute; right: 40px; top: 70px; width: 45%;
    }
    footer > div:first-child > div:nth-child(4) h2 img{width: 100%;}
    footer > div:first-child > div:nth-child(4) > p{
        width: 76%; position: absolute; right: 40px; top: 180px; 
        font-size: 17px; color: #8b8b8b; text-align: right; line-height: 25px;
    }
    footer > div:last-child{
        position: relative; background-color: #fff;  line-height: 40px;
    }
    footer > div:last-child > p{
        position: absolute; left: 20px; top: 6px; 
    }
    footer > div:last-child > a{
        display: block; position: absolute; top: 11px;
    }
    footer > div:last-child > a:first-of-type{right: 55px;}
    footer > div:last-child > a:last-of-type{right: 20px;}
    footer > div:last-child > a img{width: 100%;}
}
/* desktop */